[Service]
Endpoint=CustomTranslate
FallbackEndpoint=

[General]
Language=zh-tw
FromLanguage=zh-cn

[TextFrameworks]
EnableUGUI=True
EnableTextMeshPro=True
EnableTextMesh=False
EnableNGUI=True
EnableIMGUI=True
EnableFairyGUI=True

[Behaviour]
UseStaticTranslations=True
GenerateStaticSubstitutionTranslations=False

[Custom]
Url=http://127.0.0.1:5000/translate
EnableShortDelay=True
DisableSpamChecks=True
