[Service]
Endpoint=CustomTranslate
FallbackEndpoint=

[General]
Language=zh-tw
FromLanguage=zh-cn

[TextFrameworks]
EnableUGUI=True
EnableTextMeshPro=True
EnableTextMesh=True
EnableNGUI=True
EnableIMGUI=True
EnableFairyGUI=True

[Behaviour]
UseStaticTranslations=True
GenerateStaticSubstitutionTranslations=False
IgnoreWhitespaceInDialogue=False
IgnoreWhitespaceInNGUI=False
ForceSplitTextAfterCharacters=0
OverrideFont=Microsoft JhengHei
OverrideFontTextMeshPro=arialuni_sdf

[Custom]
Url=http://127.0.0.1:5000/translate
EnableShortDelay=True
DisableSpamChecks=True
